@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: clamp(200px 50% 600px);
}

*::selection {
    color: #FF5757;
}

body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background-color: #FF5757;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
}

.section__container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

.section__subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #d1d5db;
}

.btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: #FF5757;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #FF5757;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #FF5757;
    z-index: -1;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #111317;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav__logo {
    max-width: 150px;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: white;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: #FF5757;
    transition: 0.3s;
}

.link a:hover::after {
    width: 100%;
}

.header__container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.header__container::before {
    position: absolute;
    bottom: 5rem;
    right: 20rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: white;
    opacity: 0.05;
    z-index: -1;
}

.header__blur {
    bottom: 5rem;
    right: 0;
}

.header__content h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #FF5757;
}

.header__content h3 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 6rem;
    color: white;
}

.header__content h3 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

.header__image {
    position: relative;
}

.header__image img {
    max-width: 350px;
    margin: auto;
}

.explore__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.explore__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.explore__nav span {
    padding: 0 6px;
    font-size: 1.5rem;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.explore__nav span:hover {
    color: #FF5757;
    border-color: #FF5757;
}

.explore__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.explore__card {
    padding: 1rem;
    background-color: #1f2125;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.explore__card img {
    padding: 5px;
    width: 10vh;
    height: 10vh;
}

.explore__card:hover {
    background-color: #35373b;
    border-color: #FF5757;
}

.explore__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.explore__card p {
    margin-bottom: 1rem;
    color: #d1d5db;
}
.section__container h3 {
    color: white;
    font-size: 3rem;
    margin-left: 1.2rem;
}
.join__image {
    margin-top: 4rem;
    padding: 1vh;
    display: flex;
    justify-content: space-evenly;
}

.join__image img {
    border-radius: 10px;
    width: 50vh;
}

.price__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.price__card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #1f2125;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

.price__card:hover {
    background-color: #35373b;
    border-color: #FF5757;
}

.price__card__content {
    flex: 1;
    margin-bottom: 2rem;
}

.price__card h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.price__card h3 {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    border-bottom: 2px solid white;
}

.price__card p {
    margin-bottom: 0.75rem;
    color: white;
}

.price__card p i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: #FF5757;
}

.price__btn {
    color: #FF5757;
    background-color: transparent;
    border: 2px solid #FF5757;
}

.price__btn:hover {
    color: white;
    background-color: #FF5757;
}

.footer__container {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.footer__blur {
    bottom: 0;
    right: 0;
}

.footer__logo {
    max-width: 150px;
    margin-bottom: 2rem;
}

.footer__col p {
    margin-bottom: 2rem;
    color: #d1d5db;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: #FF5757;
    border: 1px solid #FF5757;
    border-radius: 100%;
    transition: 0.3s;
}

.footer__socials a:hover {
    color: white;
    background-color: #FF5757;
}

.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.footer__col>a {
    display: block;
    margin-bottom: 1rem;
    color: #d1d5db;
    transition: 0.3s;
}

.footer__col>a:hover {
    color: #FF5757;
}

.footer__bar {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: white;
}

.footer__links li {
    margin-bottom: 1rem;
}

.footer__links p {
    color: #d1d5db;
}

.footer__links p span {
    font-weight: 500;
    color: white;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.8rem;
    color: white;
    background-color: #FF5757;
    text-align: center;
}