* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;

}

@media screen and (max-width:600px) {
    div {
        font-size: 1px;
    }
}


body {
    background-color: black;
}

.main {
    background-image: url("netflix-brand-hero-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vh);
    height: 110vh;
    position: relative;
}



.main .box {
    height: 110vh;
    width: 100%;
    background-color: black;
    opacity: .7;
    position: absolute;
    top: 0;

}

nav {
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav img {

    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: sans-serif;
    height: calc(100% - 90px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 25px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 45px;
    text-align: center;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 23px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}

.seperation {
    height: 8px;
    background-color: rgba(128, 128, 128, 0.411);
}

.btn {
    padding: 3px 15px;
    background-color: rgba(255, 255, 255, 0.244);
    border: 1px solid rgba(255, 255, 255, 0.283);
    cursor: pointer;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.591);

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main input {
    padding: 7px 100px 8px 14px;
    font-size: 11px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, .7);
    border: 1px solid rgba(246, 238, 238, .5);
    color: aliceblue;

}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    color: aliceblue;
    height: 500px;
}



.sec-img {
    position: relative;

}

.sec-img img {
    margin-top: 8px;
    width: 390px;
    position: relative;
    z-index: 10;
}

.sec-img video {
    position: absolute;
    width: 300px;
    height: 200px;
    margin-right: 40px;
    /* margin-bottom: px; */
    top: 51px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

section.first>div :nth-child(1) {
    font-size: 45px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.three video {
    height: 135px;
    width: 300px;
    margin-bottom: 40px;

}


.faq h2 {
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
}

.faq {
    background-color: black;
    color: aliceblue;

}

.faqbox {
    display: flex;
    background-color: rgba(128, 128, 128, 0.276);
    padding: 23px;
    margin: 10px auto;
    max-width: 60vw;
    justify-content: space-between;
    cursor: pointer;
    font-size: 22px;
}

.faqbox:hover {
    background-color: rgba(128, 128, 128, 0.402);
}

footer {
    color: aliceblue;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.questions {
    padding: 34px 0px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: aliceblue;
}

@media screen and (max-width:1000px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: aliceblue;
    }
}

@media screen and (max-width:1000px) {
    .first {
        flex-wrap: wrap;
    }

}


.footer a {
    font-size: 14px;
    color: aliceblue;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}